# Continent and country data cleaning (incorporated into the workflow)

# Data exploration

In [1]:
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_excel('../data/Country_Region_2.xlsx')
df.head()

,ERegroupement,EContinent,ERegion_Monde,ESous_Region,Econtinent_2
0,NaN,NaN,NaN,NaN,Unknown
1,United Arab Republic,À_Déterminer,À_Déterminer,À_Déterminer,Unknown
2,Burundi,Africa,Eastern Africa,East Africa,Africa
3,Comoros,Africa,Eastern Africa,Indian Ocean,Africa
4,Djibouti,Africa,Eastern Africa,Northeast Africa,Africa

The first column is country name and other columns are continent and region names.

In [3]:
df['EContinent'].value_counts()

Africa           65
Asia             59
Europe           52
America          41
Oceania          22
Unknown           1
Pacifique Sud     1
Antartica         1
À_Déterminer      1
Name: EContinent, dtype: int64

In [4]:
df['Econtinent_2'].value_counts()

Africa              65
Asia                59
Europe              52
South America       38
Oceania             23
Northern America     4
Unknown              4
Name: Econtinent_2, dtype: int64

In [5]:
df['ERegion_Monde'].value_counts()

Western Asia                 21
Eastern Africa               20
Western Africa               18
Southern Europe              17
Caribbean                    17
South-Eastern Asia           13
South America                13
Eastern Europe               13
Middle Africa                11
Southern Asia                11
Northern Europe              11
Polynesia                    10
Eastern Asia                 10
Western Europe                9
Southern Africa               9
Central America               7
Northern Africa               7
Central Asia                  6
Melanesia                     5
Micronesia                    5
Northern America              4
Australia and New Zealand     2
À_Déterminer                  1
Antartica                     1
Unknown                       1
Name: ERegion_Monde, dtype: int64

In [6]:
df['ESous_Region'].value_counts()

South Pacific             18
Balkans                   12
Lesser Antilles           11
Northeast Asia            10
Arabian peninsula          9
Central Africa             9
Southern Africa            9
Latin Europe               8
West Africa                8
Central America            7
South-tropical Africa      7
Greater Antilles           7
Fertile crescent           7
India and surroundings     7
Indochinese Peninsula      7
Southeast Asia Islands     6
Mahgreb                    6
Central Asia               6
Gulf of Guinea             6
South of America           5
East Africa                5
Central Europe             5
Northern Europe            5
Indian Ocean               5
Venezuela - Guyana         4
Eastern Mediterranean      4
Middle East                4
Eastern europe             4
Andean America             4
Northeast Africa           4
Germanic Europe            4
Sahelian Africa            4
Transcaucasia              3
Benelux                    3
Polynesia                  3
Baltic States              3
Nile valley                2
North America              2
British islands            2
À_Déterminer               1
Unknown                    1
Antartica                  1
Northern America           1
Eastern Europe             1
British Islands            1
Name: ESous_Region, dtype: int64

# Data cleaning

## Keeping only the country and the continent columns

We use the continent-level aggregation, so let's produce a mapping from countries to continent and rename the columns.

In [7]:
df = df[['ERegroupement', 'Econtinent_2']]
df.rename(index=str, columns={'ERegroupement': 'COUNTRY', 'Econtinent_2': 'CONTINENT'}, inplace=True)
df.head()

                COUNTRY CONTINENT
0                   NaN   Unknown
1  United Arab Republic   Unknown
2               Burundi    Africa
3               Comoros    Africa
4              Djibouti    Africa

In [8]:
len(df)

245

## Removing missing values and duplicated data

Are there NaN values?

In [9]:
df[df.COUNTRY.isna()]

  COUNTRY CONTINENT
0     NaN   Unknown

In [10]:
df[df.CONTINENT.isna()]

Empty DataFrame
Columns: [COUNTRY, CONTINENT]
Index: []

Let's first drop the NaN row.

In [11]:
df.dropna(inplace=True)
df[df.COUNTRY.isnull()]

Empty DataFrame
Columns: [COUNTRY, CONTINENT]
Index: []

Do we have any duplicated rows?

In [12]:
df[df.COUNTRY.duplicated()]

       COUNTRY CONTINENT
129  Indonesia      Asia

In [13]:
df.drop_duplicates(inplace=True)
df[df.COUNTRY.duplicated()]

Empty DataFrame
Columns: [COUNTRY, CONTINENT]
Index: []

In [14]:
len(df)

243

## Continent data cleaning

In [15]:
df.CONTINENT.value_counts()

Africa              65
Asia                58
Europe              52
South America       38
Oceania             23
Northern America     4
Unknown              3
Name: CONTINENT, dtype: int64

In [16]:
df[df.CONTINENT.isna()]

Empty DataFrame
Columns: [COUNTRY, CONTINENT]
Index: []

What are the countries with `Unknown` continent?

In [17]:
df[df['CONTINENT'] == 'Unknown']

                  COUNTRY CONTINENT
1    United Arab Republic   Unknown
220          _indeterminé   Unknown
244               Unknown   Unknown

In [18]:
df[df.COUNTRY =='United Arab Republic']

                COUNTRY CONTINENT
1  United Arab Republic   Unknown

Other Arab countries are assigned to 'Asia'. Let's assign United Arab Republic to Asia too.

In [19]:
df.iloc[0].CONTINENT = 'Asia'

In [20]:
df.head()

                COUNTRY CONTINENT
1  United Arab Republic      Asia
2               Burundi    Africa
3               Comoros    Africa
4              Djibouti    Africa
5               Eritrea    Africa

# Saving the cleaned data

In [21]:
# df.to_csv('../data/country_continent.csv', index=False)